@CHARSET "UTF-8";
.mb0{
	margin-bottom: 0px;
}
.mb20{
	margin-bottom: 20px;
}
.ml40{
	margin-left: 40px;
}

.ib{
	display: inline-block;
}
.nouse{
	text-decoration: line-through;
}

.container{
	margin: auto;
}
div.wrap {
	width: 940px;
	margin:0 auto;
}

span {
	font-weight: bold;
	margin-right: 10pt;
	margin-bottom: 5pt;
}